.container-fluid{
    padding: 0px;
}
.navbar{
    padding: 0px;
    height: 100vh;
    width: 200px;
    position: fixed;
}
.navbar .container{
    flex-direction: column;
    align-content: space-between;
    height: 100vh;
}

.navbar .navbar-nav{
    flex-direction: column;
}

.row{
    margin: 0px;
}

.page-wpapper{
    padding-left: 200px;
}